/* Matches styling*/
#matches {
    font-family: 'Courier New', Courier, monospace;
}

#matches #detailsModal .modal-body div {
    padding-bottom: 20px;
}

#matches .wrapper {
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    margin: 20px auto;
    height: auto;
    padding: 10px;
    text-align: center;
}

#matches .wrapper .moreInfo {
    margin: 0 auto;
    height: 40px;
    width: 90%;
}

#matches .wrapper .started_at {
    margin-bottom: 20px;
}

#matches .wrapper .ended_at {
    margin-top: 20px;
}

#matches .wrapper .away_team,
#matches .wrapper .home_team {
    font-weight: bold;
}

#matches .wrapper .score {
    font-weight: bold;
    font-size: 1.1em;
}

/* End Matches Styling */

/* Teams Styling */
#teams .row #list_1,
#teams .row #list_2 {
    margin-top: 20px;
}

/* End Teams Styling */

/* Groups Styling */
#groups .row .card {
    margin-left: 6%;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* End Group Styling */

/* Loading Animation */
.animationload {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.loading {
    animation: 1.5s linear 0s normal none infinite running loading;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}

.loading::after {
    animation: 1.5s linear 0s normal none infinite running loading_after;
    border-color: #85d6de transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 80px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 80px;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    50% {
        background: #85d6de none repeat scroll 0 0;
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* End Loading Animation*/

/* Homescreen */
#welcome {
    font-size: 2em;
    padding-top: 100px;
    text-align: center;
}

/* End Homescreen */

/* Layout styling */
nav {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav .navbar-brand {
    color: white !important;
    cursor: pointer !important;
}

#nav-top a {
    cursor: pointer;
}

/* End Layout Styling */

/* Media rules */
@media only screen and (max-width: 576px) {

    /* Groups Styling */
    #groups .row .card {
        margin-left: 0;
    }

    /* End Group Styling */
}

/* End Media rules */